@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Bruno+Ace+SC&family=Comfortaa&family=Comforter&family=PT+Sans+Narrow&family=Palanquin:wght@300&family=Philosopher&family=Shadows+Into+Light&family=Thasadith:wght@700&family=Tilt+Prism&family=Ubuntu:wght@300&family=Viga&family=Zeyada&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #ffffff;
  
}
#root{
  display: flex;
}